@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
@import 'main/main.less';
@import 'myDirective/myDirective.less';
@import 'myroute/myroute.less';
@import '../components/footer/footer.less';
@import '../components/modal/modal.less';
// endinjector


.title_data{
border: 2px solid gray;
height: 250px;
margin: 20px 10px;
padding: 10px 0 20px 10px;
position: relative;
word-wrap: break-word;
}
#timeline li{
  list-style-type: none;
  position: relative;
}
.close_btn{
font-size: 20px;
position: absolute;
right: -14px;
top: -10px;
}
.title_data a{
 word-wrap:break-word;
}
.col-lg-3 {
  width: 23% !important;
}
.innerbox{
height: 100%;
margin-top: 15px;
overflow-x: hidden;
overflow-y: auto;
}
.faicon{
 
font-size: 20px;
position: absolute;
right: 25px;
top: 5px;
cursor:pointer;
}