<header class="hero-unit" id="banner">
    <div class="container">
        <h4>API Integration</h4>
    </div>
</header>
<br>
<br>
<div class="container">
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <form role="form">
                <div class="form-inline">
                    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <select class="form-control" id="sel1" ng-model="optionValue" ng-change="onChanged()">
                                <option selected value="">Select api</option>
                                <option value="Google+">Google+</option>
                                <option value="Twitter">Twitter</option>
                                <option value="Facebook">Facebook</option>
                                <option value="Youtube">Youtube</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
                        <div class="input-group col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-show="showInputControls">
                            <input type="text" class="form-control" id="search" ng-model="trends" />
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btn-search" ng-click="search()">Search</button>
                            </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div id="res">
                        <div id="search-res">
                            <span ng-repeat="subarr in mainresult">
                                <span class="title_data">
                                        <span ng-repeat="res in subarr">
                                            <span>{{ res.desp }}</span>
                                            <span ng-show="res.desp != null" class="text ">{{res.desp}}</span>
                                            <span ng-show="res.title != null" class="title ">{{res.title}}</span>
                                            <span ng-show="res.url != null" class="url "><a ng-href="{{res.url}}" target="_blank">Read more>>></a></span><br>
                                        </span>
                                         <i style="position:relative !important" class="fa fa-times-circle close_btn" ng-click="removeField($index)"></i>
                                </span>                            
                            </span>                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
